div.page-selector-container {
	display: flex;
	align-items: center;
	position: relative;
}

div.page-selector-container .foward-chevrons {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 24px;
	width: 48px;
	position: absolute;
	right: -58px;
	top: 4px;
}

div.page-selector-container .backward-chevrons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 24px;
	width: 48px;
	position: absolute;
	left: -58px;
	top: 4px;
}

div.page-selector-container .chevron-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.page-selector-container .chevron-button svg path {
	stroke: var(--smoke);
}

div.page-selector-container .chevron-button.backward-chevron svg {
	transform: rotate(180deg);
}

div.page-selector-container .chevron-button:hover svg path {
	stroke: var(--blue);
}
