div.page-selector-container {
	display: flex;
	align-items: center;
	position: relative;
}

div.page-selector {
	display: flex;
	gap: 8px;
}

div.page-selector-container .foward-chevrons {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 24px;
	width: 48px;
	position: absolute;
	right: -58px;
	top: 4px;
}

div.page-selector-container .backward-chevrons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 24px;
	width: 48px;
	position: absolute;
	left: -58px;
	top: 4px;
}

div.page-selector-container .chevron-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.page-selector-container .chevron-button img {
	height: 24px;
}

div.page-selector-container .chevron-button.backward-chevron img {
	transform: rotate(180deg);
}

div.page-selector .page-selector-button {
	width: 32px;
	height: 32px;
	border-radius: 4px;
	background-color: var(--snow);
	border: 1px solid var(--dark-snow);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-family: var(--font-pt-sans);
	color: var(--dark-smoke);
}

div.page-selector .page-selector-button:not(.active):hover {
	background-color: var(--blue);
	color: var(--white);
	border: none;
}

div.page-selector .page-selector-button.active {
	background-color: var(--dark-blue);
	color: var(--white);
	border: none;
}

@media screen and (min-width: 768px) {
	div.page-selector {
		gap: 16px;
	}

	div.page-selector .page-selector-button {
		width: 40px;
	}
}
